{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-header"><strong>
        {{client.middle_name}} {{client.first_name}} {{client.last_name}} #{{client.id}}
    </strong>
    </div>
    <div class="card-body">
        <p class="card-text">
            <strong>Телефон: </strong>{{client.phone}}
        </p>
        <p class="card-text">
            <strong>E-mail: </strong>{{client.email}}
        </p>
        <p class="card-text">
            <strong>Город: </strong>{{client.city}}
        </p>
        <p class="card-text">
            <strong>Область: </strong>{{client.state}}
        </p>
        <p class="card-text">
            <strong>Статус обучения: </strong>
            {% if client.course_id_1 == 0 and client.course_id_2 == 0 and client.course_id_3 == 0 %}
                Не обучается
            {% else %}
                Обучается на {% for course in courses %} {% if course != '' %} "{{course}}" {% endif %} {% endfor %}
            {% endif %}
        </p>
    </div>
</div>

<br/><br/>

<a href="{{ previous_url }}" class="btn1">Назад</a>
<!-- Button to trigger the modal -->
<a class="btn1-danger" data-toggle="modal" data-target="#deleteModal">
    Удалить
</a>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Подтверждение удаления</h5>
            </div>
            <div class="modal-body">
                Уверены, что хотите удалить запись?
            </div>
            <div class="modal-footer">
                <a class="btn1" data-dismiss="modal">Отмена</a>
                <form method="POST" action="{% url 'delete-client' client.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn1-danger">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<a href="{% url 'edit-client' client.id %}" class="btn1">Изменить</a>

{% endblock %}