{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-header"><h3>
        {{course.title}} #{{course.id}}
    </h3>
    </div>
    <div class="card-body">
        <p class="card-text">
            <strong>Преподаватель: </strong>{{course.name_of_teacher}}
        </p>
        <p class="card-text">
            <strong>Описание: </strong>{{course.description}}
        </p>
        <p class="card-text">
            <strong>Количество студентов: </strong>{{course.number_of_students}}
        </p>
    </div>
</div>

<br/><br/>

<a href="{% url 'courses' %}" class="btn1">Назад</a>
<!-- Button to trigger the modal -->
<a class="btn1-danger" data-toggle="modal" data-target="#deleteCourse">
    Удалить
</a>
<a href="{% url 'edit-course' course.id %}" class="btn1">Изменить</a>

<br/>
<br/>
<h3>Студенты курса</h3>
<br/>

<table class="table table-hover" style="cursor: pointer">
    <thead>
    <tr>
        <th scope="col">ФИО</th>
        <th scope="col">email</th>
    </tr>
    </thead>
    <tbody>

    {% if students %}
    {% for student in students %}
        <tr data-toggle="modal" data-id="{{ student.id }}" data-course-id="{{ course.id }}" data-target="#actionModal">
            <td>{{student.middle_name}} {{ student.first_name }} {{ student.last_name }}</td>
            <td>{{ student.email }}</td>
    {% endfor %}

    {% endif %}


    </tbody>

</table>

<a href="{% url 'add-student' course.id %}" class="btn1">Добавить новых</a>

<!-- Modal for course deletion -->
<div class="modal fade" id="deleteCourse" tabindex="-1" role="dialog" aria-labelledby="deleteCourseLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCourseLabel">Подтверждение удаления</h5>
            </div>
            <div class="modal-body">
                Уверены, что хотите удалить этот курс?
            </div>
            <div class="modal-footer">
                <a class="btn1" data-dismiss="modal">Отмена</a>
                <form method="POST" action="{% url 'delete-course' course.id %}">
                    {% csrf_token %}
                    <a type="submit" class="btn1-danger">Удалить</a>
                </form>
            </div>
        </div>
    </div>
</div>
<!--            Modal for actions-->
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="actionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="actionLabel">Действия</h5>
            </div>
            <div class="modal-body">
                Посмотреть подробную информацию о студенте или убрать его с курса
            </div>
            <div class="modal-footer">
                <a class="btn1" data-dismiss="modal">Закрыть</a>
                <a class="btn1" id="infoButton">Подробнее</a>
<!--                <a class="btn1-danger" id="deleteStudentModal">Убрать</a>-->
                <form method="POST" id="deleteForm" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn1-danger">Убрать</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--            Modal for student deletion-->
<div class="modal fade" id="deleteStudent" tabindex="-1" role="dialog" aria-labelledby="deleteStudentLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteStudentLabel">Подтверждение отчисления студента</h5>
            </div>
            <div class="modal-body">
                Уверены, что хотите убрать этого студента с курса?
            </div>
            <div class="modal-footer">
                <a class="btn1" data-dismiss="modal">Отмена</a>
            </div>
        </div>
    </div>
</div>
</tr>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tableRows = document.querySelectorAll('.table tbody tr');

        tableRows.forEach(function (row) {
            row.addEventListener('click', function () {
                var clientId = row.getAttribute('data-id');
                var courseId = row.getAttribute('data-course-id');
                var modal = document.getElementById('actionModal');
                var infoButton = modal.querySelector('#infoButton');
                var deleteForm = modal.querySelector('#deleteForm');
                deleteForm.action = "{% url 'delete-student' 0 0 %}".replace('0', courseId).replace('0', clientId);
                infoButton.addEventListener('click', function () {
                    window.location.href = '/client/' + clientId;
                });
            });
        });
    });
</script>

{% endblock %}