{% extends 'base.html' %}
{% block content %}

<div style="text-align: center">

    {% if user.is_authenticated %}

    <h2>Курсовой проект по дисциплине технологии и методы программирования</h2>
    <h2>Кафедра ИУ8</h2>
    <h2>МГТУ им. Н. Э. Баумана</h2>
    <br/>
    <h4>Client relationship management (CRM) система предоставляет возможность создания записей с данными клиентов
        образовательной организации, наглядного распределения их по курсам организации и просмотра статистики.
    </h4>

    {% endif %}
</div>

{% endblock %}