{% extends 'base.html' %}
{% block content %}


<div class="col-md-6 offset-md-3">
	<h1>Регистрация</h1>
	<br/>

	<form method="POST" action="{% url 'register' %}">
		{% csrf_token %}
		{% if form.errors %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  Your Form Has Errors
			  {% for field in form %}
			  	{% if field.errors %}
			  		{{ field.errors }}
			  	{% endif %}
			  {% endfor %}
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}

		{{ form.as_p }}
		<div class="form-check">
		  <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
		  <label class="form-check-label" for="invalidCheck">
			  Я соглашаюсь на обработку персональных данных
		  </label>
		  <div class="invalid-feedback">
			Необходимо дать согласие перед регистрацией
		  </div>
		</div>
		<br/>
		<button type="submit" class="btn1">Зарегистрироваться</button>
	</form>
	<br/>
	<br/>
	<h3>Нет учетной записи? <a href="{% url 'register' %}" >Создать аккаунт</a> </h3>
	<br/>
</div>

{% endblock %}